.body {
  font-family: Helvetica, sans-serif;
}

.container {
  display: grid;
  /* flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%; */
  font-family: Helvetica;
}

.header {
  background-color: #004d99;
  text-align: center;
  font-size: 2rem;
}

.header-title {
  color: white;
}

.footer {
  background-color: #004d99;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-text {
  color: white;
  text-align: center;
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 1300px) {
  .footer-text {
    font-size: 1.5rem;
  }
  .header {
    background-color: #004d99;
    text-align: center;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
}
